  .p {
    font-family:Montserrat ;
  }

  .model {
  font-size: 50px;
  font-weight: bold;
  margin-left: 82px;
  margin-bottom: 0px;
  margin-top: 15px;
  font-family:Montserrat ;
}


.text {
  font-size: 22px;
  font-family:Montserrat ;
}


.underline:hover {
text-decoration: underline;

}




