.Request-Button {
  background-color: black;
  color: white;
  height: 45px;
  width: 122px;
  cursor: pointer;
  font-weight:bold;
  margin-right:12px;
  font-size: 15px;
  border: none;
}



.amazon-Button {
  background-color:rgb(255, 216, 20);
  height:40px;
  width:170px ;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  margin-right: 12px;
}
.GitHub-Button {
  background-color: rgb(46, 164, 79);
  color: white;
  height: 47px;
  width: 110px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius:7px ;
  font-size:15px ;






}